---
layout: single
title: About SCRS
permalink: /scrs/
gallery:
  - url: "/assets/images/one.jpg"
    image_path: "/assets/images/one.jpg"
    alt: "one"
    title: ""
  - url: "/assets/images/lamp.jpg"
    image_path: "/assets/images/lamp.jpg"
    alt: "lamp"
    title: ""
  - url: "/assets/images/pro.jpg"
    image_path: "/assets/images/pro.jpg"
    alt: "sky"
    title: "Night Sky"

---

<h2>Soft Computing Research Society (SCRS)</h2>
<p id="in" style="text-align: justify;">To promote research in soft computing and allied areas, Soft Computing Research Society (SCRS) is established in 2013 with its headquarters in Delhi, India. Soft Computing Research Society is a non-profit, scientific swarm of the institutions / labs / researchers / scientists / academicians / research scholars / students / industry R & D persons interested in soft computing.</p>

<p id="in" style="text-align: justify;">The primary objective of the society is to support and promote research activities in the field of soft computing and related areas. SCRS is also involved in organizing academic events, lectures, discussions, workshops, seminars, and conferences, for motivating and guiding the young researchers. The society also sponsors the academic trip of young researchers. SocProS (International Conference on Soft Computing for Problem Solving) series conference is a signature annual event of SCRS. </p>
{% include gallery caption="Some Memorable Moments from SocPros 2017"  %}
<p id="in" style="text-align: justify;">The <a href="http://socpros20.scrs.in/" style="text-decoration: none;"><b>SocPros 2020</b></a> will be held in Indian Institute of Technology Indore, India from July 29-31, 2020 and is the 10th International Conference in the series.</p>
<br>
<button><a href="http://scrs.in/" style="text-decoration: none;" class="btn btn--primary">
	<b>Visit SCRS</b></a>
</button>
<br>
<br>
<button><a href="http://scrs.in/events" style="text-decoration: none;" class="btn btn--inverse">
	<b>On-going Events</b></a>
</button>
<br>